<!-- Home -->

<div class="home">
    <div class="background_image_resources"></div>
    <div class="overlay"></div>
    <div class="home_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_content">
                        <div class="home_title">Library</div>
                        <!-- <div class="home_subtitle">Pilates, Yoga, Fitness, Spinning & many more</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About -->

<div class="about">
    <div class="container about_container">
        <div class="row">
            <div class="col-xl-8">
                <div class="about_content">
                    <div class="section_title_container">
                    <div class="section_subtitle">welcome to Baobab Health</div>
                    <h1>Library</h1>
                    </div>
                    <!--
                    <div class="text_highlight">Baobab Health was founded in 2001 by Dr. Thuy Bui and Dr. Gerald P. Douglas as a partnership  and later transformed into a malawian Trust in 2008 to be called Baobab Health Trust (BHT).</div>
                    <div class="about_text">
                        <p> BHT is a registered local NGO in Malawi with the Council of Non-governmental Organizations of Malawi (CONGOMA. BHT has dedicated its efforts to revolutionizing the use of technology in developing-world’s health care environments.</p>
                    </div>
                    <div class="button about_button"><a href="#">Join Now</a></div>
                    -->
                </div>
            </div>
            <div class="col-xl-4">
            <div class="about_content">
                <div class="section_title_container">
                    <div class="section_subtitle">SUBSCRIBE TO OUR NEWSLETTER</div>
                    <div class="newsletter_container_side">
                        <form action="#" id="newsletter_form" class="newsletter_form">
                        <input type="text" class="newsletter_input" placeholder="Enter your email here" required="required">
                        <button class="newsletter_button">Go</button>
                        </form>
                    </div>
                </div>

                <!----- search input box --------------->
                <div class="search-title">SEARCH RESOURCES</div>

                <div class ="search">
                    <span class="fa fa-search"></span>
                    <input placeholder="Search term">
                </div>

                <div class="about_text">
                    <!-- <p> BHT is a registered local NGO in Malawi with the Council of Non-governmental Organizations of 
                       Malawi (CONGOMA. BHT has dedicated its efforts to revolutionizing the use of technology in
                        developing-world’s health care environments.</p> -->
                </div>
                <!-- <div class="button about_button"><a href="#">Join Now</a></div> -->
            </div>
        </div>
        </div>
        <div class="row">
        <div class="col-lg-4"></div>
        </div>
    </div>
    <div class="bottom_page_spacer"></div>
    <!--<div class="about_background">
        <div class="about_image"></div>
    </div>-->
</div>