<!-- Home -->

<div class="home">
    <div class="background_image_wherewework"></div>
    <div class="overlay"></div>
    <div class="home_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_content">
                        <div class="home_title_wwwk">Where we work</div>
                        <div class="home_subtitle_wwwk">Hospitals, Clinics & Health Centres Nationwide</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page  Title -->
<div class="about">
    <div class="container about_container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about_content">
                    <div class="section_title_container">
                       <div class="section_subtitle">welcome to BaoBab Health</div>
                        <h1>Where We Work </h1>
                        <div class="text_highlight">EMR Systems Deployed in Various Health Facilities Nationwide</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 4%;">
    <div class="row">
        <div class="col-md-12">
            <table class ="table table-bordered table-stripped" cellspacing="0" width="100%" id="featurestbl">
               <thead class="features_tbl">
                  <tr>
                    <th>Site Number</th>
                    <th>Site Name</th>
                    <th>District</th>
                    <th>Donor</th>
                    <th>ART</th>
                    <th>OPD</th>
                    <th>ANC</th>
                    <th>eBRS</th>
                    <th>eDRS</th>
                    <th>LIMS</th>
                    <th>HTC</th>
                    <th>eVR</th>
                  </tr>
               </thead>
               <tbody>
                   <tr>
                       <td class="features_tbl_td">1</td>
                       <td class="features_tbl_td">Blantyre City Assembly</td>
                       <td class="features_tbl_td">Blantyre</td>
                       <td class="features_tbl_td">PEPFAR-CDC</td>
                       <td><i class="fa fa-check"></td>
                       <td><i class="fa fa-check"></td>
                       <td><i class="fa fa-times"></td>
                       <td><i class="fa fa-times"></td>
                       <td><i class="fa fa-times"></td>
                       <td><i class="fa fa-times"></td>
                       <td><i class="fa fa-times"></td>
                       <td><i class="fa fa-times"></td>
                   </tr>
                   <tr>
                        <td class="features_tbl_td">2</td>
                        <td class="features_tbl_td">Bwaila Hospital Martin Preuss Centre </td>
                        <td class="features_tbl_td">Lilongwe</td>
                        <td class="features_tbl_td">PEPFAR-CDC</td>
                        <td><i class="fa fa-check"></td>
                        <td><i class="fa fa-check"></td>
                        <td><i class="fa fa-times"></td>
                        <td><i class="fa fa-times"></td>
                        <td><i class="fa fa-times"></td>
                        <td><i class="fa fa-times"></td>
                        <td><i class="fa fa-times"></td>
                        <td><i class="fa fa-times"></td>
                   </tr>
               </tbody>
            </table>
        </div>
    </div>
</div>