<!-- Home -->

<div class="products_banner" id="hwbanner">
    <div class="background_image_hardwareinnovations"></div>
    <div class="overlay"></div>
    <div class="home_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_content">
                        <div class="home_title">Hardware Innovations</div>
                        <div class="home_subtitle">Power back ups, Power Economic Severs & Network Connectivity Nationwide</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page  Title -->
<div class="about">
    <div class="container about_container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about_content">
                    <div class="section_title_container">
                       <div class="section_subtitle">welcome to BaoBab Health</div>
                        <h1>Hardware Innovations </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container section-members">
    <div class="row">
        <div class="col-md-6">
            <h3>
                Touchscreen Clinical Workstations
            </h3>
            <p>
                Developing a user friendly application for healthcare workers with low computer skills was the basis on which the point-of-care touchscreen is used.
            </p>    
        </div>
        <div class="col-md-6">
            <%= image_tag("clinical-workstation.jpg") %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <%= image_tag("alternative-energy-source.jpg")%>
        </div>
        <div class="col-md-6">
            <h3>
                Alternative Energy Sources
            </h3>
            <p>
               Some health centers still operate without electricity and Baobab utilizes alternative energy sources to run systems e.g. using wind and solar power sources
            </p>
        </div>
    </div>
</div>
<div class="bottom-page-spacer"></div>